@charset "utf-8";

@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);

.notice-board {
	width: 1280px;
	height: 720px;
	background: url('../images/colbert.jpg');

	margin: auto;

	/* Needed for absolutely positioned elements within */
	position: relative;
}

.notice-board form {
	position: absolute;
	top: 0;
	left: 210px;

	width: 315px;
	height: 720px;

	background-color: #4A5F97;

	/* overflow: hidden; */
}

.notice-board input[type="text"] {
	display: block;

	color: white;

	background-color: #222686;
	font-size: 19px;
	font-weight: bold;
	width: 100%;
	margin: 15px 0px;

	text-transform: uppercase;

	line-height: 43px;
	height: 43px;
	text-align: center;
	border: 0;
}

.notice-board input[type="submit"] {
	font-weight: bold;
	color: white;
	border: 0;
	display: block;
	margin: 30px auto;
	padding: 10px;
	font-size: 20px;
	background-color: #222686;

	border-radius: 10px;
}

.acknowledgments {
	margin-top: 50px;
}
.acknowledgments p {
	margin: 0;
	text-align: center;
}

