---
title: You're on notice
---

<div class="notice-board">
  <form action="http://colbert.herokuapp.com/generate" method="post">
    <input type="text" name="text[]" value="Distractions" />
    <input type="text" name="text[]" value="You Know Who You Are" />
    <input type="text" name="text[]" value="The Weather Channel" />
    <input type="text" name="text[]" value="Black Hole at Center of Galaxy" />
    <input type="text" name="text[]" value="Fantasies of Jane Fonda" />
    <input type="text" name="text[]" value="Grizzly Bears" />
    <input type="text" name="text[]" value="Candy Apples" />
    <input type="text" name="text[]" value="Mike Huckabee" />
    <input type="text" name="text[]" value="Pant Cuffs" />
    <input type="text" name="text[]" value="OK GO" />
    <input type="submit" value="Put 'em on notice!" />
  </div>
</div>
